xsetbg -center /usr/lib/X11/Lynx/cat640.gif
xset s off
xterm -ls -T "LynxOS" -fg darkblue -bg navajowhite -iconic &
xterm -ls -T "LynxOS" -bg mediumspringgreen &
/usr/lib/X11/setbg &
if [ -x /usr/bin/X11/mwm ]
then exec mwm 
else exec twm 
fi
